<!-- 네이버회원가입 사용 나중에 고치기 -->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <form action="/members/singup" method="post">
        <!-- id 입력 -->
        <div class="join_row">
            <h3 class="join_title"><label for="id">아이디(ID)</label></h3>
            <input type="text" id="id" name="id" class="int" title="ID" maxlength="20">
        </div>

        <!-- password 입력 -->
        <div class="join_row">
            <h3 class="join_title"><label for="password">비밀번호(Password)</label></h3>
            <input type="password" id="password" name="password" class="int" title="비밀번호 입력" aria-describedby="pswd1Msg" maxlength="20">

            <h3 class="join_title"><label for="pswdcheck">비밀번호 재확인(Password Check)</label></h3>
            <input type="password" id="pswdcheck" name="pswdcheck" class="int" title="비밀번호 재확인 입력" aria-describedby="pswd2Blind" maxlength="20">
        </div>

        <!-- email 입력 -->
        <div class="join_row">
            <h3 class="join_title"><label for="email">본인 확인 이메일(E-mail)</label></h3>
            <input type="text" id="email" name="email" class="int" maxlength="100">
        </div>
        </br>
        <button type="submit" id="btnJoin" class="btn_type btn_primary"><span>회원가입</span></button>
    </form>
</div>
</body>
</html>